spring:
  application:
    name: s3-basic-practice2


  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB


cloud:
  aws:
    region: ap-northeast-2
    s3:
      bucket: my-bucket-hhi-20251226
